/* Главные стили */

body {
  background-color: #fff;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

/* Шапка */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px;
  gap: 40px;
}

.header__menu {
  flex-grow: 1;
}

.header__links-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: #000;
  text-decoration: underline;
  cursor: pointer;
}

.header__link_active {
  font-weight: 700;
}

.header__logo {
  width: 140px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.address {
  font-style: normal;
  line-height: 1.5;
}

.header__address {
  width: 240px;
  text-align: right;
}

/* Обложка */
.cover {
  position: relative;
  background: url('../images/cover.jpg') center/cover no-repeat;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 3;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2;
}

.aligned-text {
  display: block;
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  word-spacing: 20px;
  flex-grow: 1;
}

.bet-button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 32px;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.bet-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Лоты */
.lots {
  padding: 180px 50px;
}

.lots h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1 1 calc(33.333% - 17px);
  min-width: 300px;
  list-style: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 450px;
  text-decoration: none;
  color: #fff;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card__image_furniture {
  background-image: url('../images/card-lot-01.jpg');
}

.card__image_coffee {
  background-image: url('../images/card-lot-02.jpg');
}

.card__image_books {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  position: relative;
  z-index: 3;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 15px 40px;
}

.card__text {
  position: relative;
  z-index: 3;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 40px 40px;
}

.lots__see-more {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}

/* Об аукционе */
.about {
  padding: 0 50px 100px;
  display: flex;
  gap: 25px;
  align-items: flex-start;
}

.about__logo {
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about__logo img {
  width: 140px;
  height: auto;
}

.about h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 30px;
}

.about p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 25px;
}

.about p:last-of-type {
  margin: 0;
}

/* Нижняя часть */
.footer {
  background-color: #000;
  color: #fff;
  padding: 180px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.footer .address {
  color: #fff;
  width: 240px;
}

.footer__menu {
  flex-grow: 1;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.footer__links-list-item {
  list-style: none;
}

.footer__link {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
}

.footer__social-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  width: 200px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
  font-size: 18px;
}
