name: Tests

permissions:
  contents: read

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Check if the repository is Public
        run: exit 1
        if: ${{github.event.repository.public}}
      - name: Tests
        uses: Yandex-Practicum/test-project-action@v1
        with:
          project: 'ono-tebe-nado-ad'
